/* extras/themes/texlyre_wide/styles/variants/dark.css */
[data-theme="dark"][data-theme-plugin="texlyre"] {
	--accent-background: #1c2733;
	--accent-border: #2c3640;
	--editor-background: #0d1117;
	--editor-text: #c9d1d9;
	--sidebar-background: #1a242f;
	--sidebar-border: #30363d;
	--text-color: #c0c5ce;

	--pico-primary-rgb: 16, 149, 193;
	--pico-secondary-rgb: 144, 161, 176;

	--syntax-keyword: #ff7b72;
	--syntax-function: #d2a8ff;
	--syntax-string: #a5d6ff;
	--syntax-number: #79c0ff;
	--syntax-comment: #8b949e;
	--syntax-variable: #ffa657;
	--syntax-tag: #7ee787;
}
